<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="test"
      xsi:type="File"
      fileName="app.log"
			layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${callsite} ${pad:padding=5:inner=${level:uppercase=false}} ${newline} ${message} ${newline}" />
    <target name="production"
      xsi:type="File"
      fileName="app.log"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${level} ${newline} ${message} ${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="test" />
    <!-- <logger name="*" minlevel="Info" writeTo="production" /> -->  
	</rules>
</nlog>